body {
	font-family: sans-serif;
	border-top: 10px solid #118ab2;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.post-header {

	background-color: ;
	color: #118ab2;
	margin-top: 50px;
}

.main-header {
	background-color: #edf2f4;
	padding: 20px 0px;
	display: flex;
	gap: 40px;
}

.skills-table {
	border: 3px solid #118ab2;
	border-collapse: collapse;
}

.table-header {
	background-color: black;
	color : #fff;
	font-weight: bold;
	font-size: 20px; 
}

td {
	padding: 10px;
	border: 3px solid #118ab2;
}

p {
	font-size: 20px;
	line-height: 1.1;
	letter-spacing: 1px; 
}

.education-header {
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;

}

.info {
	margin-left: 80px;
	line-height: 0.6;
	font-style: italic;
}

input, textarea {
	display: block;
	margin-bottom: 15px;
	padding: 15px;
	border: 2px solid black;
	font-weight: bold;
	font-size: 18px;
	color: #118ab2;
}

input[type=button]:hover {
	color: orangered;
}

input[type=button]:active {
	background-color: black;
}
.contact-info {
	width: 50px;

}
.insta-logo {
	width: 30px;
}

footer {
	background-color: #edf2f4;
	border-top: 5px solid #118ab2;
	border-bottom: 5px solid #118ab2;
}

footer a {
	display: inline-block;
}

.contacts {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.header-contacts {
	text-align: center;
	font-size: 26px;
	margin-top: 30px;
}

.education-list {
	list-style-type: none;
}

.profile-photo {
	width: 80px;
}

.copyright-paragraph {
	text-align: center;
 }
